---
import '../../assets/styles/global.css'
import { Image } from 'astro:assets';
import floweryCake from '../../assets/images/index/hero-flowery-cake.JPG';
import cupcakes from '../../assets/images/index/hero-cupcakes.JPG'

interface Props {
  whatsappHref: string;
  instagramHref: string;
}

const { whatsappHref, instagramHref } = Astro.props;
---

<section class="landing-hero__section" id="hero">
	<div class="landing-hero__inner content-shell">
		<div class="landing-hero__content">
			<h1 class="landing-hero__title">Baked by hand for moments you treasure</h1>
		</div>

		<div class="landing-hero__media-layout">
			<div class="landing-hero__media">
				<Image
					src={cupcakes}
					alt="An assortment of cupcakes made per order and customisable for personal or corporate events."
					loading="eager"
				/>
			</div>

			<div class="landing-hero__media">
				<Image
					src={floweryCake}
					alt="Flowery celebration cake with piped cream, edible flowers, and white ribbon detail."
					loading="eager"
				/>
			</div>
		</div>
	</div>
</section>

<style>
	.landing-hero__section {
		padding-bottom: var(--bottom-space-section-md);
	}

	.landing-hero__inner {
		display: flex;
		position: relative;
	}

	.landing-hero__content {
		position: absolute;
		align-items: center;
		top: 50%;
  		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--pink-primary-bg);
		color: var(--white-text);
		padding: 40px 20px;
		width: 50vw;
	}

	.landing-hero__title {
		font-size: 5rem;
		text-align: center;
		text-wrap: balance;
	}

	.landing-hero__media-layout {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-grow: 1;
	}

	.landing-hero__media {
		width: 35vw;
	}

	.landing-hero__media img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
