---

import '../../assets/styles/reset.css'
import flowerCake from '../../assets/images/index/flowery-styled-cake.png';
import lemonCake from '../../assets/images/index/lemon-raspberry-cake.png';
---

<div id="container">
	<img id="background" src={flowerCake.src} alt="One of the best selling flowery cake made at home" fetchpriority="high" />
	<img id="background" src={lemonCake.src} alt="Lemon raspberry cake made with real lemon and raspberry fruit" fetchpriority="high" />
</div>

<style>
</style>
